<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}} &sensor=true"></script>
    <script type="text/javascript" Language="Javascript">
      var waypoints = [
      {% for wp in waypoints %} 
      new google.maps.LatLng({{wp.lat}}, {{wp.lon}}){% if not loop.last %},
      {% endif %} {% endfor %}];

      function createReport(battery, active, point, heading, turn_rate, speed) {
        report = new Object();
        report.battery_status = battery;
        if (active == "True")
          report.active = true;
        else
          report.active = false;
        report.point = point;
        report.heading = heading;
        report.turn_rate = turn_rate;
        report.speed = speed;
        return report;
      }

      var reports = [
      {% for rp in reports %} createReport({{rp.battery_status}},"{{rp.active}}",new google.maps.LatLng({{rp.lat}}, {{rp.lon}}),{{rp.heading}},{{rp.turn_rate}},{{rp.speed}}){% if not loop.last %}, {% endif %}
      {% endfor %}];
    </script>
    <script type="text/javascript" src="js/utils.js"></script>
    
  </head>
  <body>
    <H1> Drone central </H1>
    <div id="map-canvas" style="width: 80\%; height: 60\%"></div>
    <div id="msgRespons"></div>
    <div id="msgSent"></div>
    <div id='map-optionbar-r'>
      Toggle waypoints<input id="showPath" name="showPath" type="checkbox"
			     value="Show route"
			     onClick="toggleWaypoints();" checked><br>
      Toggle reportpoints<input id="showReports" name="showReports" type="checkbox"
			     value="Show reports"
			     onClick="toggleReportPoints();" checked><br>
    </div>
    <span style="float:left;">
      <form enctype="multipart/form-data" action="/" method="post" target="_blank">
	<input type="hidden" name="do" value="upload-file" />
        <input type="file" name="file" />
        <input type="submit" value = "Upload file"/>
      </form>
    </span>

    <form action="/" method="post">
      <input type="hidden" name="do" value="upload-waypoints" />
      <input type="hidden" id="upload-waypoint-list" name="waypoint-list" value="" />
      <div><input type="submit" value="Upload from waypoints" onclick="setUploadWaypoints()"></div>
    </form>

    <form action="/" method="post">
      <input type="hidden" name="do" value="delete-waypoints" />
      <div><input type="submit" value="Delete waypoints"></div>
    </form>

    <form action="/" method="post">
      <input type="hidden" name="do" value="delete-reports" />
      <div><input type="submit" value="Delete reports"></div>
    </form>

    <H3> Send command </H3>
    <form action="/" method="post">
      <input type="hidden" name="do" value="get-status" />
      <div><input type="submit" value="Get status"></div>
    </form>
    <form action="/" method="post">
      <input type="hidden" name="do" value="send-waypoints" />
      <input type="hidden" id="send-waypoint-list" name="waypoint-list" value="" />
      <div><input type="submit" value="Send waypoints" onclick="setSendWaypoints"></div>
    </form>
    <form action="/" method="post">
      <input type="hidden" name="do" value="clear-waypoints" />
      <div><input type="submit" value="Clear waypoints"></div>
    </form>
    <form action="/" method="post">
      <input type="hidden" name="do" value="send-survey" />
      <div><input type="submit" value="Send survey"></div>
    </form>
    <form action="/" method="post">
      <input type="hidden" name="do" value="clear-survey" />
      <div><input type="submit" value="Clear survey"></div>
    </form>
    <form action="/" method="post">
      <input type="hidden" name="do" value="set-load" />      
      <input type="text" name="load" id="load" onkeypress="validate_in_range('rudder-angle',{{min_load}},{{max_load}});"> ({{min_load}}-{{max_load}})
      <div><input type="submit" value="Set load"></div>
    </form>
    <form action="/" method="post">
      <input type="hidden" name="do" value="set-rudder-angle" />      
      <input type="text" name="rudder-angle" id="rudder-angle" onkeypress="validate_in_range('rudder-angle',{{min_rudder_angle}},{{max_rudder_angle}});"> ({{min_rudder_angle}} - {{max_rudder_angle}})
      <div><input type="submit" value="Set rudder angle"></div>
    </form>
    <form action="/" method="post">
      <input type="hidden" name="do" value="inactivate" />
      <input type="check-box" name="do" value="activate" onChange="this.form.submit()"/>
    </form>
    <form action="/" method="post">
      <input type="hidden" name="do" value="shutdown" />
      <input type="check-box" name="do" value="operate" onChange="this.form.submit()"/>
    </form>

    <H5> {{command}}, {{response}}</H5> 

    <H3> Send report </H3>
    <form action="/" method="post">
      <input type="hidden" name="do" value="upload-report" />
      Battery status: <input type="text" name="battery_status" size=3 value="-1">
      Turn-rate: <input type="text" name="turn_rate" size=3 value="-1">
      Heading: <input type="text" name="heading" size=3 value="90">
      Speed: <input type="text" name="speed" size=3 value="2">
      Lat:  <input type="text" name="lat" size=8 value="58.2">
      Lon:  <input type="text" name="lon" size=8 value="15.658">
      Current waypoint: <input type="text" name="current_waypoint" size=8 value="-1">
      Autopilot: <input type="text" name="autopilot" value="-1" size=8>
      Active: <input type="text" name="active" value="-1" size=8>
      <div><input type="submit" value="Upload report"></div>
    </form>
    {% autoescape off %}
    {{alert}}
    {% endautoescape %}
  </body>
</html>
{% endautoescape %}
